<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>Wv3mbEfFRIsYFzlfFeKuVuN3b8ot2DAYwGBg15BAT2v9KOydrW</string>
	<key>API Key</key>
	<string>dUqFwWUUf0V4F9J9hqf6bZY2L</string>
</dict>
</plist>
